.home::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 1920px;
    height: 600px;
    background-image: url("https://images.unsplash.com/photo-1619410283995-43d9134e7656?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.home {
    height: 600px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.profile-img {
    align-self: center;
    border-radius: 50%;
    width: 350px;
    border: 2px solid white;
    filter: drop-shadow(5px 5px 15px black);
}

.text-container {
    align-self: center;
    box-sizing: border-box;
    width: 350px;
    background: rgb(37, 37, 37);
    filter: drop-shadow(5px 5px 15px black);
    padding: 30px;
}

.text-container h3 {
    margin: 0 0 30px 0;
}

.logo {
    display: block;
    width: 250px;
    margin: 0 auto;
}